
<div class="modal-body scroll">
    <p mat-dialog-title class="fs-5">Inquiry Details</p>
    <div class="row mt-4">
        <div class="col-lg-6 mt-3">
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Name</label>
                <p class="fs-7">{{details.name}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Date of Birth</label>
                <p class="fs-7">{{details.dob}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Mobile Number</label>
                <p class="fs-7">{{details.mobileno}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">College Name</label>
                <p class="fs-7">{{details.collegename}}</p>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Father's Name</label>
                <p class="fs-7">{{details.fathername}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Email</label>
                <p class="fs-7">{{details.email}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Alternate Mobile</label>
                <p class="fs-7">{{details.alternateno}}</p>
            </div>
            <div class="mb-4">
                <label for="delivery-field" class="form-label fs-6 text-success">Course Name</label>
                <p class="fs-7">{{details.coursename}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer mt-4">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" (click)="closeDialog()">Close</button>
        </div>
    </div>
</div>
