<div class="container-fluid">
    <div class="row flex-nowrap fs-6">
        <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-2">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-2"
                    id="menu">
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white mt-2"
                            routerLink="/admin/college">
                            <i class="fs-5 bi-mortarboard"></i> <span class="ms-2 d-none d-sm-inline">College</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle text-white mt-2" routerLink="/admin/course">
                            <i class="fs-5 bi-book"></i> <span class="ms-2 d-none d-sm-inline">Courses</span></a>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2">
                            <i class="fs-5 bi-bank"></i> <span class="ms-2 d-none d-sm-inline">Account</span></a>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2 text-white"
                            routerLink="/admin/banner">
                            <i class="fs-5 bi-grid"></i> <span class="ms-2 d-none d-sm-inline">Banner</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle mt-2">
                            <i class="fs-5 fw-bold bi-info-circle"></i> <span
                                class="ms-2 d-none d-sm-inline">News</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle mt-2 text-white" routerLink="/admin/image-gallery">
                            <i class="fs-5 bi-image"></i> <span class="ms-2 d-none d-sm-inline">Image Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle mt-2 text-white" routerLink="/admin/review">
                            <i class="fs-5 bi-people"></i> <span class="ms-2 d-none d-sm-inline">Review</span> </a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-info fw-bold"></i> <span
                                class="ms-1 d-none d-sm-inline">Inquiry</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a class="nav-link px-0 text-light" routerLink="/admin/college-inquiry"> <span
                                        class="d-none d-sm-inline"><i
                                            class="fs-5 bi-mortarboard mx-3"></i>College</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0 text-light" routerLink="/admin/course-inquiry"> <span
                                        class="d-none d-sm-inline"> <i class="fs-5 bi-book mx-3"></i>Course</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle mt-2 text-white" routerLink="//admin/contact-inquiry">
                            <i class="fs-5 bi-people"></i> <span class="ms-2 d-none d-sm-inline">Contact</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>