<div class="college-list">
    <!-- start page title -->
    <div class="row">
        <div class="col-12 shadow-lg p-2">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 fw-bold">NEWS</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><button class="btn btn-sm btn-success" (click)="addImageDialog()">Add News</button></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="mat-elevation-z3 mt-3">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>College Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container> -->

            <!-- Address Column -->
             <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let row"><img 
                    src="{{baseUrl+'/'+row.image}}" 
                    alt="img" 
                    height="40" 
                    width="70" 
                    style="border:1px solid #fff;border-radius:5px;cursor:pointer;" 
                    /></td>
            </ng-container> -->

            <!-- Address Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let row">{{row.description}}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>Action</span></th>
                <td mat-cell *matCellDef="let row; let i = index">

                    <div class="d-flex gap-2">
                        <!-- <div class="edit">
                            <button class="btn btn-sm btn-success edit-item-btn" (click)="editCollegeDialog(row,i)"
                                [disabled]="row.status === 'Inactive'">Edit</button>
                        </div> -->
                        <!-- <div class="remove">
                            <button class="btn btn-sm btn-danger remove-item-btn"
                                (click)="collegeStatusChangeDialog(row,i,'Inactive','college')"
                                [disabled]="row.status === 'Inactive'">Inactive</button>
                        </div> -->
                        <div class="delete">
                            <button class="btn btn-sm btn-danger remove-item-btn px-2 py-0"
                                (click)="deleteReviewDialog(row,i)">Delete</button>
                        </div>
                        <!-- <div class="edit">
                            <button class="btn btn-sm btn-success px-3 py-0">Edit</button>
                        </div> -->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5,10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
