<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <p class="text-primary fs-6 mb-4">Forgot Password?</p>
                </div>

                <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                    Enter your email and instructions will be sent to you!
                </div>
                <div class="p-2">
                    <form [formGroup]="ForgotForm" (ngSubmit)="ForgotFormSubmit()">
                        <div class="mb-4">
                            <label class="form-label fs-6 mt-4 text-success">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
                            <!-- <p *ngIf="is_submit && forgotPasswordForm.controls['email'].hasError('required')" style="color:red">Email is
                                required
                            </p>
                            <p *ngIf="is_submit && forgotPasswordForm.controls['email'].hasError('showError')" style="color:red">{{error}}</p>
                            <p *ngIf="is_submit && forgotPasswordForm.controls['email'].hasError('pattern')" style="color:red">Valid email is required</p>
                             -->
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-success w-100" type="submit">Send Reset Link</button>
                        </div>
                    </form><!-- end form -->
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0" style="font-size: 17px;"> Wait, I remember my password... <a routerLink=""
                    class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
        </div>

    </div>
</div>
